<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ponto Digtal</title>
</head>
<body>
    @RenderBody() <!--serve para trazer para a tela a View, a View que estivemos solicitando-->
    <footer>
    <h3>
        Endereço: Avenida Paulista
        </br>
        Horário de Atendimento: 08hrs até ás 22hrs
        </br>
        Telefone: 70707070
        </br>
        E-mail: senaizando.10@gmail.com
    </h3>
</footer>
</body>
</html>