@{
Html.RenderPartial("_HeaderNavBar");
Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ponto Digital</title>
</head>
    <header>
        <h1>PONTO DIGITAL DE ALTO PADRÃO, PRONTOS PRA VOCÊ!</h1>
    </header>
    <div class="historia">
        </br>
        <h2>Conheça a história:</h2>
        </br>
        <p>
                Criada em 2012, pelos fundadores/diretores Carlos Tsukamoto e César Sportore, a empresaAgora Vai surgiu para
            desenvolver softwares e deixar  sua navegação mais eficaz, é simplesmente uma simulação de texto da indústria
            tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido 
            pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu 
            não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais
            recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
    </div>
    <section class="ponto">
        <h3>O Ponto Digital</h3>
        <div class="texto_digital">
            <img src="img/ideias.png" alt="">
            <p>O Ponto Digital é um software produzido
                </br>
                para ter o controle dos funcionários que trabalham
                </br>
                no formato home office (pessoas que trabalham
                </br>
                em casa). Ele identifica o horário de início, do
                </br>
                término e o horário de "descanso". Assim, que
                </br>
                você faz o login ele já identifica o horário. Esse
                </br>
                produto serve também para que haja
                </br>
                comunicação entre o(s) funcionário(s) e a empresa.
            </p>
        </div>
    </section>
    <section id="professores">
        <div class="professor-img">
            <img src="wwwroot/img/foto_cesar.jpg" alt="">
        </div>
        <div class="texto-img">
            <p>“O software foi um projeto
                </br>
                muito nosso, um sonho
                </br>
                realizado de muitos anos
                </br>
                de amizade/ companheirismo
                </br>
                que engloba toda uma vida
                </br>
                de projetos, que irá ajudar muitas
                </br>
                empresas e muitos funcionários.”
            </p>
        </div>
        <div class="professor-foto">
            <img src="/wwwroot/img/foto_tsuka.jpg" alt="">
        </div>
        <div class="texto-foto">
            <p>“Sou Carlos, a minha empresa Agora
                </br>
                Vai tem o maior produto que é o
                </br>
                Ponto Digital, que ajudam empresas
                </br>
                que trabalham com Home Office, a
                </br>
                controlar seus funcionários para que
                </br>
                o trabalho que está sendo desenvolvido
                </br>
                por eles seja o melhor possível.”
            </p>
        </div>
    </section>
    <section id="planos">
        <h4>Planos</h4>
        <div class="todos_box">
            <div class="box1">
                <p>1° Plano:</p>
                <p>Até 5 funcionários</p>
                <p>29,90/mês</p>
                <p>Retorno de 24hrs</p>
            </div>
            <div class="box2">
                <p>2° Plano:</p>
                <p>Até 50 funcionários</p>
                <p>149,90/mês</p>
                <p>Retorno de 12hrs</p>
            </div>
            <div class="box3">
                <p>3° Plano:</p>
                <p>Até 500 funcionários</p>
                <p>299,90/mês</p>
                <p>Retorno de 2hrs</p>
            </div>
            <div class="box4">
                <p>4° Plano:</p>
                <p>Mais de 500 funcionários</p>
                <p>a definir</p>
                <p>Retorno de 1hr</p>
            </div>
        </div>
                <div class="gratis">
                    <p>*QUER TESTAR O NOSSO PLANO GRATUITO DURANTE 1 MÊS?</p>
                    <P>Para isso é necessário ter apenas 1 funcionário e o retorno da empresa será de 48hrs.</P>
                    <p>ENTRE EM CONTATO CONOSCO PARA OBTER ALGUM DESSES PLANOS!</p>
                </div>
    </section>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1487821351247!2d-46.65657118554297!3d-23.563099367540378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552871461033"
            width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</html>