#login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5%; */
    padding: 5em;
}
.CAPUTINO {
    height: 90vh;
    background-image: url('../img/fundo_cadastro_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.quadrado-login {
    margin-top: 5%;
    background-color: rgba(156, 151, 151, 0.26);
    height: 300px;
    width: 40%;
    padding: 5em;
}
.quadrado-login h1{
    font-size: 2em;
}