@using PROJETO_FINAL___Ponto_Digital.Models;
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, inicial-scale=1.0">
    <link rel="stylesheet" href="/css/administrador.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href='@Url.Action("Index","Home")'>Home</a></li>
                <li><a href='@Url.Action("Listar","Administrador")'>Listar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lista de comentários:</h1>
    </main>
</body>