@{
    Html.RenderPartial("_HeaderNavBar");
    Layout = "_Layout";
}
<head> 
    <link rel="stylesheet" href="/css/sac.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<html id="letras">
    <section id="perguntas">
        <h1>Como funciona Ponto Digital?</h1>
        </br>
        <p>O Ponto Digital funciona de um modo totalmente diferente de outros softwares e "pontos" que você vê por aí, ele funciona exatamente como um "ponto", mas, nossa grande diferença é que trabalhamos totalmente virtual e mais focado no "home office", estabelecendo metas diárias a seus funcionários para serem cumpridas dando várias possibilidades.</p>
        </br>
        </br>
        <h1>Como posso organizar as metas para meus funcionários?</h1>
        </br>
        <p>Essa parte de organizar as metas depende muito de seu modo de trabalho, mas irá ter uma aba de fácil acesso dentro do software focada em organizar melhor seus funcionário e suas metas.</p>
        </br>
        </br>
        <h1>O teste grátis pode ser adquirido de que forma?</h1>
        </br>
        <p>Nosso teste grátis pode ser adquirido em nossa aba de compras basta apenas criar sua conta e colocar os requisitos pedidos para conseguir o seu teste.</p>
        </br>
        </br>
        <h1>Como vou ter certeza que o meu funcionário irá cumprir as metas dele?</h1>
        </br>
        <p>Você saberá se ele cumpriu ou não suas metas, pois irá chegar uma notificação ao fim de seu expediente pedindo para ele confirmar as metas que foram pedidas para serem completadas até o fim do dia ou semana.</p>
        </br>
        </br>
        <h1>No caso de eu ser o funcionário como eu irei usar na minha casa?</h1>
        </br>
        <p>Irá usar de sua casa em um site ou aplicativo no celular de acordo com sua preferência, então com o software aberto irá trabalhar em seu horário estabelecido, cumprindo suas metas.</p>
    </section>
</html>